PORT=3001
JWT_SECRET=secreto_super_seguro_minimo_32_caracteres_largo
JWT_REFRESH_SECRET=otro_secreto_super_seguro_minimo_32_caracteres
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_ROUNDS=12
UPLOADS_DIR=./uploads
FRONTEND_URL=http://localhost:3000

# Clave API para activar la Inteligencia Artificial (Gemini)
GEMINI_API_KEY=
