@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glass-card {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  overflow-y: auto;
  max-height: 80vh;
}
  .blob-bg {
    filter: blur(80px);
    z-index: -1;
  }
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: theme('colors.background');
  color: theme('colors.on-surface');
}
